<header>
  <nav>
    <ul>
      
      @if (estado_session == "logeado") {
        <!---  <li><a routerLink="/login">Login</a></li> -->
        <li>
          <div class=""><mat-icon>person</mat-icon> ¡Hola {{nombre}}!</div>
        </li>
        <li><button type="button" class="btn btn-danger" (click)="logout()">Cerrar sesión</button></li>
        
      } @else {
        <li><button type="button" class="btn btn-danger"><div (click)="onClickLogin()">Iniciar sesión</div></button></li>
        <li><button type="button" class="btn btn-danger"><div (click)="onClickRegister()">Registrarse</div></button></li>
      }
      
    </ul>
  </nav>
</header>
