<div class="container mt-5">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Nombre de usuario:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
  </form>
</div>
